*{
    font-family: 'Archivo', sans-serif;
}
footer{
    background: #A4B3B5;
    height: auto;
    padding: 1rem;
    text-align: center;
    margin-top: 30px;
}

footer h4{
    color: #0B2926;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    margin: 0;
}

header{
    position: absolute;
    top: 20px;
    left: 20px;
}

.ant-card-head-wrapper{
    flex-direction: column;
    align-items: flex-start !important;
}
.ant-card-extra{
    margin: 0 !important;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-card .ant-card-head{
    border: none !important;
}

.ant-card{
    padding: 1.5rem;
    border-radius: 30px;
    background: #A4B3B5;
    border: none !important;
}

.ant-card-head-title{
    font-family: 'Big Shoulders Display';
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
}

.ant-card-extra, .ant-card-head-title{
    color: #343A40EF !important;
}

.ant-card-body{
    padding-top: 3rem !important;
}

#loginForm_email, .ant-input-password {
    background: transparent;
    border: 0.6px solid black !important;
    border-radius: 30px !important;
    padding: 0.8rem !important;
    position: relative;
    padding-left: 50px !important;
    font-size: 16px;
}

#loginForm_email:hover, .ant-input-password:hover {
    color: #0000006E;
}

.item_icon {
    position: relative;
}
.item_icon .ant-form-item-control-input-content::before{
    content: '';
  background-image: url(/src/assets/arroba.png); /* Ruta relativa a la imagen en tu proyecto */
  background-size: 20px 20px; /* Ajusta el tamaño de la imagen */
  background-repeat: no-repeat;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Ajusta el ancho de la imagen */
  height: 20px; /* Ajusta la altura de la imagen */
}

.secure .ant-form-item-control-input-content::before{
    background-image: url(/src/assets/candado.png) !important;
    background-size: contain !important;
}

.ant-input{
    background: transparent;
}

.btn_entrar{
    text-align: right;
}

.btn_entrar .ant-btn{
    text-align: right;
    background: transparent;
    border: 1px solid black;
    max-width: 130px;
    width: auto;
    height: auto;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #1E1E1E;
    padding: 0.9rem 2rem;
    border-radius: 30px;

}
.btn_entrar .ant-btn:hover{
    background-color: #1E1E1E !important;
    color: white !important;

}

.link_ext{
    margin-bottom: 24px;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;

}

.link_ext a{
    text-decoration: none;
    color:#0B2926;

}
.back-byw{
    background: linear-gradient(to bottom, black 50%, white 50%);
}