.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: white;
  }
  
  .user-info span {
    margin-top: 4px;
  }

  .ant-upload-list-item-thumbnail {
    height: 0 !important;
  }