.sidebar .logo {
    height: auto;
    background: transparent;
    text-align: center;
    margin: 16px;
  }
.sidebar .logo img{
  width: 100%;
  max-width: 70px;
}
  .sidebar .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: white;
  }
  
  .sidebar .user-info span {
    margin-top: 4px;
  }
  .sidebar .salir {
    border-radius: 30px;
    border: none;
    background-color: transparent;
    padding: 5px 20px;
    font-size: 14px;
    color: white;
    width: 100px;
  }
  .sidebar .salir img{
    max-width: 30px;
  }

  .sidebar .ant-upload-list-item-thumbnail {
    height: 0 !important;
  }